.App {
	text-align: center;
}

p {
	font-size: 1rem;
	color: rgba(255, 255, 255);
}

.my-text {
	font-size: 30px;
}

.game-screen {
	height: 85vh;
	/* border: 50px solid #61dafb; */
}
.game-footer {
	margin: 30px;
	border: 10px solid #61dafb;
	height: 170vh;
}

.main {
	height: 255vh;
	/* overflow: auto; */
}

.white-text {
	color: antiquewhite;
}

.black-text {
	color: black;
}

.game-info-text {
	display: inline-flex;
	margin: 20px;
	max-height: 100px;
	color: rgb(161, 160, 160);
	
}

.maxHeight {
	max-height: 100px;
	height: 80px;
}

.some-margin {
	margin: 30px;
}

.games-body-text {
	
}