.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.my-screen {
  height: 85vh;
  border: 50px solid #61dafb;
}



button {
  font-size: calc(10px + 2vmin);
}

.box {
  border: solid 5px;
}


.text-box {
  font-size: 1rem;
  /* text-align: left; */
  /* width: 15vw; */
  width: 300%;
  /* margin: 10 auto; */
  color: rgb(42, 34, 201);
  top:0;
  border: solid white 3px;
  background-color: rgba(75, 152, 234, 0.326);
}

.text-box-win {
  font-size: 1rem;
  color: rgba(255, 255, 255);
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255);
}

.text-play{
  font-size: 1rem bold;
  color: rgb(255, 255, 255);
}