/* FOOTER CARD grid structure */
.responsive-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}
@media (max-width: 1200px) {
	.responsive-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 780px) {
	.responsive-cards {
		grid-template-columns: 1fr;
	}
}
/* FOOTER CARD */

.container .card {
	position: relative;
	width: 80%;
	height: 400px;
	/* background: rgba(255, 255, 255, 0.05); */
	margin-top: 20px;
	border-radius: 15px;
	border: #0dafdb99 solid 3px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.container .card:hover {
	border: 3px solid #61dafb;
}
.container .card .content {
	position: relative;
	display: flex;
	top: 0px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	min-width: 250px;
	width: 80%;
	height: 150px;
	overflow: hidden;
	border-radius: 50px 50px 90px 90px;
	opacity: 90%;
}

.container .card .content .imgBx img {
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 100px;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover {
	background: rgba(255, 255, 255, 0.11);
	box-shadow: 0 -30px 50px rgba(57, 80, 214, 0.384);
}
.container .card:hover .sci li {
	transform: translateY(20px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 1em;
}
.button-margin {
	margin-right: 10px;
	background-color: rgb(44, 124, 215);
	font-size: 1em;
}
/* FOOTER CONTACT grid structure */
.responsive-contact-footer {
	display: grid;
	margin-left: 100px;
	/* grid-template-columns: repeat(5, 1fr); */
	justify-content: center;
	align-items: center;
	gap: 5px;
}
