/* CANVAS - GAME screen */
.game-screen {
	height: 85vh;
}
p {
	font-size: 1rem;
	color: rgba(255, 255, 255);
}
/* TOP MENU */
.game-info-text {
	display: inline-flex;
	margin: 20px;
	max-height: 100px;
	color: rgb(161, 160, 160);
}
/* MODALS */
.overlay-styles {
	width: 80vw;
	z-index: 1000;
}
.wallet-modal {
	display: 'block';
	padding: 30px;
	background: rgba(2, 1, 26, 0.7);
	border: 4px solid #05023d;
	border-radius: 10px;
}
.play-modal-center-text {
	display: flex;
	justify-content: center;
}
/* FOOTER */
.bg-footer-color {
	background-color: rgb(20, 19, 19);
}
.container {
	width: 100%;
	margin: auto;
}
.footer-card-margin {
	padding-top: 100px;
	padding-bottom: 20px;
}
.footer-card-style {
	border: 3px solid #61dafb;
	border-radius: 35px;
	background: rgba(33, 33, 33, 0.242);
	padding-bottom: 40px;
}
.card-title-margin {
	margin-top: 30px;
}
/* FOOTER CONTACT grid structure */
.footer-center {
	display: grid;
	justify-content: center;
}
.responsive-contact-footer {
	display: grid;
	justify-content: center;
	width: 30vw;
	margin-left: 100px;
	/* grid-template-columns: repeat(5, 1fr); // DEFINED in component*/
	align-items: center;
	gap: 5px;
}
